body {
  background-color: #3baa9a;
  font-family: Montserrat Light;
  color: #FFF;
}

#logo-splash {
  display: block;
  margin: 40px auto;
}

.bread-center {
  display: block;
  margin: 10px auto;
  text-align: center;
  width: 720px;
}

footer {
  display: block;
  margin: 40px auto;
  width: 720px;
  font-size: 0.75rem;
  font-style: italic;
  text-align: center;
}

a {
  color: #F7B733;
}
